*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border-bottom: black;
    border-bottom-width: 2px;
    border-bottom-style: groove;
    padding: 2px; 
    padding-right: 4px;   
    align-items: center;
}
/* CSS for button */
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757;
}

/* CSS for search input */
.search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}
.icon{
    font-size: 25px;
}

.header_button{
    display: flex;
    gap: 2rem;
}

.video_list{
    display: flex;
    flex-wrap: wrap;
    padding: 4rem;
    gap: 2rem;
    justify-content: center;
}
.video_title{
    font-weight: 600;
    font-size: medium;
}
.user_name{
  font-weight: 400;
  font-size: smaller;
}
.user_info{
    display: flex;
    align-items: center;
}
  
  .dropdown {
    position: relative;
    display: inline-block;
    float: right;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 95px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0
  }

  .video_container{
      /* border-style: solid; */
  }
  .img-responsive{
    width: 15rem;
    height:  10rem;
  }
  
  .dropdown-content a {
    color: black;
    padding: 3px 3px;
    text-decoration: none;
    display: block;
    font-size: medium;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

 /* Your Profile css start */
  .banner{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      gap: 5px;
  }
  .push {
    margin-left: auto;
}

  .button {
    background-color: #0694fa; 
    border: none;
    color: white;
    padding: 8px 18px 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
  }
  .banner_button {border-radius: 12px;}

  /* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner.jpg");
  
    /* Set a specific height */
    height: 50%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .banner_user_image {
    border-radius: 50%;
    width: 7rem;
  }
.banner_user_name {
    color: white;
    font-weight: 600;
    font-size: 30px;
  }
  /* user-profile */
  .videos_about{
    display: flex;
    justify-content: center;
  }
  /* user profile navigation start */
  ul.videos_about {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  li.videos_about_item {
    float: left;
  }
  
  li.videos_about_item a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li.videos_about_item a:hover:not(.active) {
    background-color: #ddd;
  }
  
  li.videos_about_item a.active {
    color: white;
    background-color: #4CAF50;
  }
    /* user profile navigation end */
#about{
  display: none;
}
    .description{
      max-width: 50vw;
      border-bottom-style: solid;
      padding: 1rem
    }
    .description_title{
      padding-bottom: .5rem;
    }
    .links{
      border-bottom-style: solid;
      max-width: 50vw;
      padding: 1rem 1rem 1rem 2rem;
    }
    .stats{
      display: flex;
      flex-direction: column;
    }
    .stats_first{
      padding-bottom: .5rem;
      font-weight: 400
    }

